body{
    background:maroon ;
    margin: 0;
    padding: 0; 
    flex-direction: column;
    align-items: center;
}

.heart{
    width: 180px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 37%;
    background: #a64d4d;
    transform-origin: right bottom;
    transition: 1s;
    margin-bottom: 10px;
}

.heart:before{
    content: "";
    position: absolute ;
    width: 100%;
    height: 100%;
    background: #e6cccc;
    transition: 2s;
    transform-origin: right bottom;
    margin-bottom: 10px;
}

.heart:hover{
    transform: rotate(45deg);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 10px;
}

.heart:hover:before{
    transform: rotate(450deg) translateY(100px);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: rgb(248, 134, 134)
}

::-webkit-scrollbar{
    display: none;
}

#text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease; /* Menambahkan efek transisi untuk teks */
    font-size: 24px;
    color: white;
    margin-top: 15px;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 43%;
}

/* Menambahkan kelas visible untuk menampilkan teks setelah klik */
#text.visible {
    opacity: 1;
    transform: translateY(0);
}